body {
    background: navy !important;
}
.welcome {
    color: red !important;
}
.rounds-text {
    color: white !important;
}
.finalRound-text {
    color: red !important;
}
.rules-text {
    color: white !important;
}
.highscores-text {
    color: red !important;
}
.lettersValueHeader-text {
    color: red !important;
}



