
body {
    background: navy !important;
}
.welcome {
    color: red;
}
.rounds-text {
    color: white !important;
}
.finalRound-text {
    color: red !important;
}
.rules-text {
    color: white !important;
}
.lettersValue-text {
    color: #ffcc66 !important;
}
.highscores-text {
    color: red !important;
}

